PORT=3000
BASE_PATH=/
NODE_ENV=production
ADMIN_PASSWORD=change-me
JWT_SECRET=change-me
APP_URL=http://localhost:3000
SMTP_USER=
SMTP_PASS=
BANK_NAME=
BANK_ACCOUNT_NAME=
BANK_ACCOUNT_NUMBER=
BANK_BRANCH_CODE=
BANK_ACCOUNT_TYPE=
BANK_BRANCH_NAME=
BANK_SWIFT_CODE=
